@font-face {
    font-family: Millik;
    src: url('../../LocalFont/Millik.ttf');
  }
  @font-face {
    font-family: Nunito1; 
    src: url('../../LocalFont/Nunito-Italic-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: Nunito2;
    src: url('../../LocalFont/Nunito-VariableFont_wght.ttf');
  }
  
* {
overflow-x: 0%;
max-width: 100%;
}
.pricingHero {
    background-color: #F9F7FD;
    background-image: url(../../Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    width: 100%;
    max-width: 1500px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockdp {
    width:446.35px;
    height: 358px;
}

.content {
   color: black;
   margin-top: 5rem;
   text-align: center;
}

.pricebtn {
    color: #6941C6;
    font-size: 14px;
    background-color: #E0CCFF;
    border:none;
    width: 87px;
    height: 28px;
    border-radius: 16px;
    font-weight: 500;
}

.herotext {
    font-size: 48px;
    font-weight: 600;
    font-family: Nunito2;
}

.pherotext{
    font-size: 20px;
    font-weight: 400;
    color: #667085;
    padding-bottom: 2rem;
    font-family: Nunito2;
}

.lowrherobtn {
    margin-bottom: 3rem;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-between;
    margin-right: 15px;
    font-family: Nunito2;
}

.signupbtn {
    background-color: #7F56D9;
    color: white;
    width: 119px;
    height: 60px;
    border-radius: 8px;
    border: none;
    margin-left: 15px;
}

.demobtn {
    background-color: white;
    border: 1.5px solid #D0D5DD;
    border-radius: 8px;
    width: 141px;
    height: 60px;
    font-weight: 600;
    color: #344054;
}

.arrowRight {
    width: 18px;
    height: 18px;
    
}

.Demo {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-bottom: 2px;
}

.bodybg {
    width: 1512px;
    height: 525px;
    z-index: 5;
}

.basic {
    background-color: white;
    width: 359.33px;
    height: 510px;
    text-align: center;
    border-radius: 16px;
    z-index: 8;
    top: 107%;
    /* right: 75%; */
    transform: translate(-0.005%, -75%);
    /* margin-left: 180px; */
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.132), 0 8px 25px 0 rgba(0, 0, 0, 0.027);
   margin-right: 5px;
   margin-left: 5px;
}

.myh1{
    padding-top: 40px;
    font-weight: 600;
    font-size: 48px;
}

.myp {
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: -0.5px;
}

.my2p {
    font-size: 16px;
    font-weight: 400;
    margin-top: -4px;
    color: #667085;
   
}

.Check {
    width: 24px;
    height: 24px;
    margin-right: 12PX;
}

.mysubp {
    text-align: left;
    margin-left: 35px;
    
}

.myhp {
    margin-top: 32px;
    margin-bottom: 40px;
}

.mibtn{
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #7F56D9;
    border: none;
    color: white;
    width: 295.33px;
    height: 48px;
}

.pricingcards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}