:root{
  --background: #F9F7FD; 
  --type1:#667085;
  --type2:#515251;
  --purple: #7F56D9;
  --deep-blue:#0F042F;
}
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: Millik;
  src: url('../../LocalFont/Millik.ttf');
}
@font-face {
  font-family: Nunito1; 
  src: url('../../LocalFont/Nunito-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: Nunito2;
  src: url('../../LocalFont/Nunito-VariableFont_wght.ttf');
}

.body{
  width: 100%; 
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito2;
}
.main{
  max-width: 1216px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
  color: #101828;
}
.header{
  background-image: url('../../Images/Hero-Background.png');
  width: 100%;
  height: auto;
  max-width: 1216px;
  padding-top: 5rem;
}
.header h1{
  font-family: Millik;
  font-size: 96px;
  /* line-height: 100px; */
  font-family: Nunito2;
  letter-spacing: 0em;
  text-align: left;
  color: #140A29;
  font-weight: 700;
  width: 500px;
  line-height: 6rem;
}
.header h1 span{
  /* font-family: Nunito2; */
  letter-spacing: -0.02em;
  color: #6938EF;
}
.header p{
  font-family: Nunito2;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.015em;
  text-align: left;
}
.header #SignUp {
  padding: 16px 28px 16px 28px;
  border-radius: 8px;
  background-color: #7F56D9;
}
.groupbtns{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.demo{
  padding: 16px 28px;
  background-color: white;
  border: 1px solid #D0D5DD;
  color: #344054;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: ease 0.3s;
}
.demo:hover{
  background-color: transparent;
  border: 2px solid var(--type1);
  color: var(--type1);
}
.signUp{
  padding: 16px 28px;
  background-color: #7F56D9;
  border: 1px solid #7F56D9;
  color: white;
  border-radius: 8px;
  margin-left: 12px;
  font-size: 18px;
  transition: ease 0.3s;
}
.signUp:hover{
  background-color: transparent;
  border: 2px solid #7F56D9;
  color: var(--purple);
}
.headerImg{
  width: 600px;
  height: 600px;
  transition: ease 0.9s;
}
.headerImg:hover, 
.resonForReonContentsImg img:hover{
  transform: scale(1.05);
}
.headerImg img{
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
.brand{
  width: 100%;
  max-width: 1216px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 96px 0;
}
.brand p{
  text-align: center;
  color: #667085;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; 
}
.BrandsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainBrands img:hover{
  transform: scale(1.08);
  transition: ease 1s;
}
.main .reconLgAcct{
  text-align: center;
  width: 768px;
  padding-bottom: 74px;
}
.main .reconLgAcct h3{
  font-size: 36px;
  font-weight: 700;
  padding: 0 90px;
}
.main .reconLgAcct p{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--type1);
}
.section4{
  width: 100%;
  background-image: url('../../Images/GroupedBackground.png');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 128px;
}
.section4 .main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 32px; */
}
.section4 .main h3,
.section5 h3{
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.72px;
  text-transform: lowercase;
  padding: 0 20rem;
  text-align: center;
}
.section4 .appForYouContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding:32px;
}
.section4 .appForYouContent div{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 405px;
  padding: 0 4rem;
}
.section5{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}
.resonForReonContentsImg img{
  width: 620px;
  height: 620px;
  transition: ease 0.7s;
}
.section5 .resonForRecon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 54px 0;
  gap: 106px;
}
.section5 .resonForReonContents{
  position: relative;
  max-width: 360px;
}
.section5 .resonForReonContents label{
  display: flex;
  width: 64px;
  height: 64px;
  padding: 16px 33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: #E0CCFF;
  color: #7F56D9;
  font-size: 36px;
  font-weight:700;
  margin-bottom: 16px;
}
.section5 .resonForReonContents .label1{
  background-color: #7F56D9;
  color: white;
}
.section5 .resonForReonContents .label2,
.section5 .resonForReonContents .label3{
  margin-top: 60px;
}
.section5 .resonForReonContents .label4{
  margin-top: 50px;
}

.section5 .resonForReonContents h6{
  font-size: 20px;
  font-weight: 500;
  color: #515251;
}
.section5 .resonForReonContents p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #515251;
}
.section5 .resonForReonContents .Image1{
  position: absolute;
  top: 30px;
  left: -2.5rem;
  width: 36px;
  height: 209px;
  /* flex-shrink: 0; */
}
.section5 .resonForReonContents .Image2{
  position: absolute;
  right: -10px;
  top: 14rem;
}
.section5 .resonForReonContents .Image3{
  position: absolute;
  bottom: 9rem;
  left: -2.5rem;
  width: 36px;
  height: 209px;
}
.section6{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFE5FF;;
}
.section6 .main{
  text-align: center;
  padding: 94px 0;
}
.section6 .main h1{
  /* padding: 0 1rem; */
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.96px;
  line-height: 60px;
  padding: 32px 0;
}
.section6 .main h6{
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  color: #101828;
  padding-top: 16px;
}
.section7{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  text-align: center;
}
.section7 .main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section7 .h6{
  color:  #6941C6;
  font-size: 16px;
  font-weight: 700;
}
.section7 h2, 
.FAQs h3,
.section9 h3{
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.72px;
  text-transform: lowercase;
  padding: 0 16rem;
  text-align: center;
}
.section7 .p{
  color:  #667085;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  max-width: 700px;
  align-self: center;
}
.section7 .firstFeatures{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section7 .FeaturesCont1,
.FeaturesCont2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.FeaturesCont2{
  gap: 10rem;
}
.section7 .FeaturesCont1 span,
.FeaturesCont2 span{
  width: 361px;
  padding: 49px;
}
.section7 .FeaturesCont1 span h6,
.FeaturesCont2 span h6{
  color:  #101828;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.section8{
  width: 100%;
  background-color: #EAECF0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:96px 0;
}
.section8 .FAQs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section8 .FAQs p{
  color: #667085;
  font-size: 20px;
}
.section8 .FAQs .accordionTitle{
  display: flex;
  justify-content: space-between;
  /* width: 768px; */
}
.section8 .FAQs .accordionTitle h4{
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.72px;
  /* text-transform: lowercase; */
}
.items{
  width: 768px;
  padding: 32px 0;
}
.items i{
  color: #7F56D9;
  font-size: 24px;
}
.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  text-align: justify;
  color: #667085; 
}
.content{
  /* color: var(--gray-1); */
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0,1,0,1);  
}
.moreQuestions{
  border-radius: 16px;
  background-color:  #F9FAFB;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  text-align: center;
  max-width: 1216px;
  margin-top: 3rem;
}
.moreQuestions .imgGroup{
  display: flex;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.moreQuestions .imgup{
  position: absolute;
  left: 28px;
  top: -3px;
}
.morequz h5{
  font-size: 20px;
  font-weight: 700;
}
.section9{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:96px 0;
  background-color:  #F9F7FD;
}
.section9 .main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section9 p{
  width: 100%;
  max-width: 768px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 15px 0 40px 0;
}
footer{
  display: flex;
  width: 100%;
  padding: 64px 152px;
  /* align-items: center; */
  gap: 125px;
  background-color: white;
}
footer .container{
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  max-width: 1512px;
  width: 100%;
  gap: 125px;
}
footer .footerFlex{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 50px;
  /* max-width: 1512px; */
  /* width: 100%; */
}
footer  .logo{
  padding-bottom: 24px;
  /* display: none; */
}
footer .span{
  display: flex;
  flex-direction: column;
}
footer .footerFlex h5{
  color: var(--new-styles-text-heading, #292A29);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding-bottom: 24px;
}
footer .copyright p{
  font-size: 14px;
  margin: 0;
}
footer p{
  color: #7C7C7C;
  font-size: 16px;
  line-height: 24px; 
}
footer .icons{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding-top: 24px;
}
footer .icons span{
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 10px;
  background-color: #F2F1F1;
  transition: ease 0.3s;
}
footer .icons span:hover{
  background-color: var(--purple);
  color: white;
}
footer a {
  text-decoration: none;
  color: #7C7C7C;
  font-size: 16px;
}
footer a:hover {
  color: var(--deep-blue);
  font-weight: 600;
}
footer .emaildetails{
  width: 255px;
  padding: 10px  20px;
  /* height: 40px; */
  border-radius: 16px;
  background-color: #F2F1F1;
  /* flex-shrink: 0; */
}


