:root{
    --background: #F9F7FD; 
    --type1:#667085;
    --type2:#515251;
    --purple: #7F56D9;
    --deep-blue:#0F042F;
  }
  ::before,
  ::after{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  @font-face {
    font-family: Millik;
    src: url('../../LocalFont/Millik.ttf');
  }
  @font-face {
    font-family: Nunito1; 
    src: url('../../LocalFont/Nunito-Italic-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: Nunito2;
    src: url('../../LocalFont/Nunito-VariableFont_wght.ttf');
  }
  
  .body{
    width: 100%; 
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Nunito2;
  }
  .main{
    max-width: 1216px;
    overflow: hidden;
  }
  
  h1, h2, h3, h4, h5, h6{
    color: #101828;
  }
  .NavContainer{
    width: 100%;
    background-color:  #FCFBFE;
    border-bottom: 1px solid #EAECF0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Navbar{
    width: 100%;
    width: 1216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: relative;
  }
  .navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 40px;
  }
  .Navbar a{ 
    text-decoration: none;
    font: 16px;
    font-weight: 600;
    color: #13092A;
    transition:  0.3s;
  }
  .Navbar a:hover{
    color: #6938EF;
    /* text-shadow: -1px 1px 2px 20px; */
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .topNavButton{
    border-radius: 12px;
    background-color: #0F042F;
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: ease 0.3s;
    margin-left: 250px;
  }
  .topNavButton a{
    color: white;
  }
  .topNavButton a:hover{
    color: var(--deep-blue);
  }
  .topNavButton:hover{
    transform: scale(1.05);
    background-color: transparent;
    border: 2px solid var(--deep-blue);
    color: var(--deep-blue);
  }
  
  .navbarToggler{
    display: none;
  }
  @media(max-width:800px){
    .body, .main{
      width: 100%;
      overflow: hidden;
    }
    .NavContainer{
      width: 100%;
    }
    .navbarToggler{
      display: block;
    }
    .Navbar{
      width: 100%;
    }
    .navMenu{
      position: absolute;
      width: 100%;
      flex-direction: column;
      left: 0;
      top: 65px;
      padding: 20px 0;
      background-color: white;
      gap: 20px;
    }
    .topNavButton{
      padding: 16px 48px;
      margin-left: 0;
    }
  }
  